<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::div})}">
<div>
    <h2>Search Results</h2>
    <!-- Vuln 1: Search Reflected XSS -->
    <p class="lead">Results for: <b th:utext="${query}">Query</b></p>

    <div class="list-group">
        <a th:each="employee : ${results}" th:href="@{/profile/{id}(id=${employee.id})}"
            class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:utext="${employee.name}">Name</h5>
                <small th:text="${employee.position}">Position</small>
            </div>
            <p class="mb-1" th:utext="${employee.bio}">Bio</p>
        </a>
    </div>

    <div th:if="${results.empty}" class="alert alert-warning">
        No employees found.
    </div>
</div>

</html>